@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
section {
    block-size: 100%;
    height: 100vh;
}

html {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 10px solid #ccc;
}

section h1,
section h2,
section h3,
section p {
    text-align: center;
    overflow-wrap: break-word;
    margin: 8px 0;
    max-width: 80%;
}

section p {
    font-size: 24px;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 4rem;
}

.progress-container {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-container .progress-bar {
    height: 8px;
    background: black;
    width: 0%;
}

.branding {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background: #ffffff70;
    padding: 8px 10px 0 10px;
    border-radius: 6px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.branding:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.branding, p {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0px 0;
}

.branding, img {
    width: 100px;
    margin-bottom: 20px;
}

.progress-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.progress-buttons .button {
    height: 50px;
    width: 50px;
}

.progress-buttons .button img {
    height: 40px;
}

.progress-buttons #back img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.landing-page img {
    width: 40%;
    min-width: 300px;
}

.landing-page h3 {
    font-size: 40px;
}

.round {
    border-radius: 50% !important;
}

.minimal {
    background: #ffffff70;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    outline: none;
    border: none;
}

.button {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    margin: 2px;
}

.button .final {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    opacity: 1;
    font-size: 40px;
    text-decoration: none;
}

.button .child {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    opacity: 0.6;
}

.button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.button:hover .child {
    opacity: 1;
}

.button:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.image-background {
    background-image: url("https://images.pexels.com/photos/1078983/pexels-photo-1078983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#confetti-canvas {
    width: 100vw;
    position: absolute;
    height: 100vh;
    pointer-events: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.form-image {
    border-radius: 4px;
}

label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 26px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.checkbox-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.disabled {
    color: #959495;
    cursor: not-allowed;
}

input[type="checkbox"] {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    /* Add if not using auto-prefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    -moz-appearance: none;
    appearance: none;
    /* For iOS < 15 */
    background-color: none;
    /* Not removed via appearance */
    margin: 4px 10px 0 0;
    cursor: pointer;
    font: inherit;
    color: currentColor;
    width: 24px;
    height: 24px;
    border: 2px solid currentColor;
    border-radius: 4px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    display: -ms-grid;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 14px;
    height: 14px;
    -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.04s;
    transition: 0.04s;
    background-color: #ffa200;
}

input[type="checkbox"]:checked::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

input[type="checkbox"]:focus {
    border: 2px solid #ffa200;
}

input[type="checkbox"]:disabled {
    --form-control-color: $Disabled;
    color: #959495;
    cursor: not-allowed;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
/*# sourceMappingURL=styles.css.map */
.field-padding {
    margin: auto;
}
